<header class="bg-primary w-100">
  <nav class="">
    <ul class="list-unstyled m-0">
      <li class="text-white fs-1 fw-bold text-center py-2">
        Web Externa
      </li>
    </ul>
  </nav>
</header>