<article id="dataPassenger" class="p-2 d-none">
  <header class="">
    <h2 class="">Información de pasajeros</h2>
  </header>
  <form id="quantityPassengerForm" action="/#asientos-disponibles" method="POST" enctype="application/x-www-form-urlencoded">

  </form>
</article>