<article id="seatsSelectorReturn" class="p-2 d-none">
  <h2 class="">Selecciona los asientos de regreso</h2>
  <form id="seatsSelectorReturnForm" method="POST">

    <button id="btn-seatsSelectorReturn" class="btn btn-outline-primary w-100" type="submit">Pagar</button>
  </form>
</article>