<article id="seatsSelectorDepart" class="p-2 d-none">
  <h2 class="">Selecciona los asientos de ida</h2>
  <form id="seatsSelectorDepartForm" method="POST">

    <button id="btn-seatsSelectorDepart" class="btn btn-outline-primary w-100" type="submit">Siguiente</button>
  </form>
</article>