<article id="ticketAvailabilityDepart" class="p-2 d-none">
  <header class="">
    <h2 class="">Selecciona tu pasaje de ida</h2>
  </header>
  <section class="border border-primary rounded-3 my-2 p-2">
    <!-- Columna 1 y 2 -->
    <div class="">
      <!-- Salida -->
      <div class="mb-1">
        <!-- Fecha -->
        <p class="fs-6 m-0">Salida</p>
        <span class="fs-6 fw-bold" data-dateTicket>2021-03-24</span>
        <!-- Hora + Ciudad + Terminal -->
        <div class="">
          <span class="fs-6 fw-bold" data-form-ticketAvailability>07:00</span>
          <span class="fs-6">Santiago - </span>
          <span class="d-block fs-6" data-form-ticketAvailability>Terminal San Borja</span>
        </div>
      </div>
      <!-- Llegada -->
      <div class="mb-1">
        <!-- Fecha -->
        <p class="fs-6 m-0">Llegada</p>
        <span class="fs-6 fw-bold" data-form-ticketAvailability>2021-03-25</span>
        <!-- Hora + Ciudad + Terminal -->
        <div class="">
          <span class="fs-6 fw-bold" data-form-ticketAvailability>02:30</span>
          <span class="fs-6">Antofagasta - </span>
          <span class="d-block fs-6" data-form-ticketAvailability>Terminal Antf Rodoviario</span>
        </div>
      </div>
    </div>
    <hr>
    <!-- Columna 3 -->
    <div class="mb-1">
      <!-- Precio Normal -->
      <div class="">
        <span class="fs-6">Precio Normal</span>
        <span class="text-decoration-line-through" data-form-ticketAvailability>$34.300</span>
      </div>
      <!-- Dcto -->
      <div class="">
        <span class="fs-6">Descuento Temporada</span>
        <span class="" data-form-ticketAvailability>$5.100</span>
      </div>
      <!-- Precio Total -->
      <div class="">
        <span class="fs-6">Precio c/ dcto</span>
        <span class="fs-6 fw-bold" data-form-ticketAvailability>$29.200</span>
      </div>
    </div>
    <hr>
    <!-- Fila Inferior -->
    <div class="row my-2">
      <!-- Cantidad de Paradas -->
      <div class="col-4">
        <p class="text-center m-0">5</p>
        <p class="text-center m-0">Paradas</p>
      </div>
      <!-- Duraci贸n -->
      <div class="col-8">
        <p class="text-center m-0">19h 30m</p>
        <p class="text-center">Tiempo de Viaje</p>
      </div>
      <!-- Tipo Asiento -->
      <div class="col-12">
        <p class="text-center m-0" >Tipo de Asiento</p>
        <span class="text-center d-block m-0 fw-bold" data-form-ticketAvailability>Salon Cama</span>
      </div>
    </div>
    <hr>
    <!-- Empresa de Tranporte -->
    <div class="my-2">
      <p class="m-0 text-center">Vendido Por</p>
      <span class="d-block m-0 text-center fw-bold" data-form-ticketAvailability>Turbus</span>
    </div>
    <!-- Bot贸n -->
    <div class="text-center">
      <button data-btnTicketAvailability class="btn btn-outline-primary" type="button">Seleccionar Pasaje</button>
    </div>
  </section>
  <section class="border border-primary rounded-3 my-2 p-2">
    <!-- Columna 1 y 2 -->
    <div class="">
      <!-- Salida -->
      <div class="mb-1">
        <!-- Fecha -->
        <p class="fs-6 m-0">Salida</p>
        <span class="fs-6 fw-bold" data-dateTicket>2021-03-24</span>
        <!-- Hora + Ciudad + Terminal -->
        <div class="">
          <span class="fs-6 fw-bold" data-form-ticketAvailability>09:00</span>
          <span class="fs-6">Santiago - </span>
          <span class="d-block fs-6" data-form-ticketAvailability>Terminal San Borja</span>
        </div>
      </div>
      <!-- Llegada -->
      <div class="mb-1">
        <!-- Fecha -->
        <p class="fs-6 m-0">Llegada</p>
        <span class="fs-6 fw-bold" data-form-ticketAvailability>2021-03-25</span>
        <!-- Hora + Ciudad + Terminal -->
        <div class="">
          <span class="fs-6 fw-bold" data-form-ticketAvailability>04:30</span>
          <span class="fs-6">Antofagasta - </span>
          <span class="d-block fs-6" data-form-ticketAvailability>Terminal Antf Rodoviario</span>
        </div>
      </div>
    </div>
    <hr>
    <!-- Columna 3 -->
    <div class="mb-1">
      <!-- Precio Normal -->
      <div class="">
        <span class="fs-6">Precio Normal</span>
        <span class="text-decoration-line-through" data-form-ticketAvailability>$10.300</span>
      </div>
      <!-- Dcto -->
      <div class="">
        <span class="fs-6">Descuento Temporada</span>
        <span class="" data-form-ticketAvailability>$4.100</span>
      </div>
      <!-- Precio Total -->
      <div class="">
        <span class="fs-6">Precio c/ dcto</span>
        <span class="fs-6 fw-bold" data-form-ticketAvailability>$6.200</span>
      </div>
    </div>
    <hr>
    <!-- Fila Inferior -->
    <div class="row my-2">
      <!-- Cantidad de Paradas -->
      <div class="col-4">
        <p class="text-center m-0">2</p>
        <p class="text-center m-0">Paradas</p>
      </div>
      <!-- Duraci贸n -->
      <div class="col-8">
        <p class="text-center m-0">19h 30m</p>
        <p class="text-center">Tiempo de Viaje</p>
      </div>
      <!-- Tipo Asiento -->
      <div class="col-12">
        <p class="text-center m-0" >Tipo de Asiento</p>
        <span class="text-center d-block m-0 fw-bold" data-form-ticketAvailability>Cama</span>
      </div>
    </div>
    <hr>
    <!-- Empresa de Tranporte -->
    <div class="my-2">
      <p class="m-0 text-center">Vendido Por</p>
      <span class="d-block m-0 text-center fw-bold" data-form-ticketAvailability>Pullman Bus</span>
    </div>
    <!-- Bot贸n -->
    <div class="text-center">
      <button data-btnTicketAvailability class="btn btn-outline-primary" type="button">Seleccionar Pasaje</button>
    </div>
  </section>
</article>