<article id="travelFrom" class="p-2 my-2">
  <header class="my-1">
    <h2 class="">Compra tus pasajes</h2>
  </header>
  <form id="travelForm" action="/#disponibilidad-pasajes" method="POST" enctype="application/x-www-form-urlencoded">
    <div class="my-2">
      <label for="from" class="form-label">Origen</label>
      <input id="from" name="from" type="text" list="places" value="Santiago" class="form-control"/>
      <datalist id="places">
        <option value="Santiago"></option>
        <option value="Concepción"></option>
      </datalist>
    </div>
    <div class="my-2">
      <label for="to" class="form-label">Destino</label>
      <input id="to" name="to" type="text" list="places" value="Antofagasta" class="form-control"/>
      <datalist id="places">
        <option value="Santiago"></option>
        <option value="Concepción"></option>
      </datalist>
      </div>
    <div class="my-2">
      <label for="dateGo" class="form-label">Fecha Salida</label>
      <input id="dateGo" name="dateGo" type="date" value="2021-03-24" class="form-control"/>
    </div>
    <div class="my-2">
      <label for="dateBack" class="form-label">Fecha Regreso (opcional)</label>
      <input id="dateBack" name="dateBack" type="date"value="2021-03-28" class="form-control"/>
    </div>
    <div class="my-2">
      <label for="quantityPassenger" class="form-label">Cantidad de Pasajes</label>
      <input id="quantityPassenger" name="quantityPassenger" type="text" value="2" class="form-control"/>
    </div>
    <div class="my-2 d-flex justify-content-center">
      <button class="btn btn-outline-primary align-center" type="submit">Buscar Pasaje</button>
    </div>
  </form>
</article>